@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    padding-top: 5rem;
}

h1 {
    color: brown;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 2em;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    
    justify-content: space-between;

    -webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(0,0,0,0);
}

.item p{
    max-width: 14em;

}

.item img {
    width: 10em;
    height: auto;

}


.containerDois{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 2em;
    margin-bottom: 3rem;
    
}
.itemDois {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    
    -webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(0,0,0,0);

}

.itemDois p{
    max-width: 14em;
}
.itemDois img {
    width: 10em;
    height: auto;

    
}

#menu {
    list-style: none;
    background-color: #D92211;
    position: fixed;
    width: 100%;
  }
  
  #menu li {
    display: inline;
    
    
  }
  
  
  #menu li a{
    display: inline-block;
    text-decoration: none;
    padding: 2rem;
    transition: background .4s;
    color: black;
    font-size: 1rem;
    
    
  }
  
  #menu li a:hover{
    background-color: brown;;
    
  }